In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.27)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.4 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [4]:
%%sql CREATE TABLE beneficiary_partner_data (
partner_id INTEGER NOT NULL PRIMARY KEY,
partner VARCHAR(30) NOT NULL,
village VARCHAR(30) NOT NULL,
beneficiaries INTEGER,
beneficiary_type VARCHAR(30)
);

 * sqlite://
Done.

[]

In [5]:
%%sql CREATE TABLE village_locations (
    village_id INTEGER NOT NULL PRIMARY KEY,
    village VARCHAR(30) NOT NULL,
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    total_population INTEGER
);

 * sqlite://
Done.

[]

In [6]:
%%sql INSERT INTO village_locations(village_id, village, latitude, longitude, total_population)
VALUES (100, 'Dharkenley', '4°47''35.40"', '45°12''28.80"', 12800),
       (200, 'Bulo-Kahin', '4°47''57.00"', '45°11''5.70"', 9485),
       (300, 'Hilo Kelyo', '4°47''57.00"', '45°12''58.60"', 5212),
       (400, 'Xubow', '4°46''46.77"', '45°12''7.57"', 2558),
       (500, 'Xiintooy', '4°44''14.40"', '45°13''5.00"', 3850),
       (600, 'Dhagax Jebis', '4°44''27.86"', '45°12''42.03"', 3563),
       (700, 'Filtare', '4°44''20.43"', '45°12''27.89"', 8000),
       (800, 'Howl-Wadaag', '4°43''50.00"', '45°11''58.20"', 7525),
       (900, 'Balcad', '2°21.624''', '45°23.928''', 1500),
       (1000, 'Mareeray', '2°23.504''', '45°25.200''', 7500),
       (1100, 'Kulmis', '2°36.761''', '45°30.642''', 6058),
       (1200, 'Sabuun', '2°53.020''', '45°32.356''', 5483),
       (1300, 'Bayaxaw', '2°44.768''', '45°29.727''', 3000),
       (1400, 'Bayaxawo', '2°44.768''', '45°29.926''', 7560);

 * sqlite://
14 rows affected.

[]

In [7]:
%%sql INSERT INTO beneficiary_partner_data(partner, village, beneficiaries, beneficiary_type)
VALUES
('IRC', 'Balcad', 1450, 'Individuals'),
('NRC', 'Balcad', 50, 'Households'),
('SCI', 'Balcad', 1123, 'Individuals'),
('IMC', 'Balcad', 1245, 'Individuals'),
('SCI', 'Mareeray', 5200, 'Individuals'),
('IMC', 'Mareeray', 70, 'Households'),
('IRC', 'Mareeray', 2100, 'Individuals'),
('CESVI', 'Mareeray', 1800, 'Individuals'),
('SCI', 'Kulmis', 1340, 'Individuals'),
('IMC', 'Kulmis', 55, 'Households'),
('SCI', 'Kulmis', 4500, 'Individuals'),
('IMC', 'Kulmis', 1670, 'Individuals'),
('IMC', 'Sabuun', 1340, 'Individuals'),
('IRC', 'Sabuun', 66, 'Households'),
('CESVI', 'Sabuun', 4090, 'Individuals'),
('SCI', 'Sabuun', 2930, 'Individuals'),
('IMC', 'Bayaxaw', 2800, 'Individuals'),
('IRC', 'Bayaxaw', 2100, 'Individuals'),
('CESVI', 'Bayaxaw', 45, 'Households'),
('SCI', 'Bayaxaw', 1700, 'Individuals'),
('SCI', 'Bayaxawo', 5900, 'Individuals'),
('IMC', 'Bayaxawo', 40, 'Households'),
('IRC', 'Bayaxawo', 1500, 'Individuals'),
('CESVI', 'Bayaxawo', 1260, 'Individuals'),
('CESVI', 'Dharkenley', 7880, 'Individuals'),
('IRC', 'Dharkenley', 34, 'Households'),
('SCI', 'Bulo-Kahin', 4300, 'Individuals'),
('IMC', 'Bulo-Kahin', 4212, 'Individuals'),
('IRC', 'Bulo-Kahin', 3200, 'Individuals'),
('IRC', 'Hilo Kelyo', 5212, 'Individuals'),
('SCI', 'Hilo Kelyo', 25, 'Households'),
('CESVI', 'Xubow', 2157, 'Individuals'),
('IMC', 'Xiintooy', 1667, 'Individuals'),
('IRC', 'Xiintooy', 2667, 'Individuals'),
('CESVI', 'Dhagax Jebis', 2856, 'Individuals'),
('CESVI', 'Filtare', 7519, 'Individuals'),
('CESVI', 'Howl-Wadaag', 6870, 'Individuals'),
('IMC', 'Howl-Wadaag', 32, 'Households');

 * sqlite://
38 rows affected.

[]

In [8]:
%%sql CREATE TABLE jurisdiction_hierarchy (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    type VARCHAR(100) NOT NULL,
    parent_name VARCHAR(100)
   );

 * sqlite://
Done.

[]

In [9]:
%%sql INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (1, 'Middle Shabelle', 'Region', NULL);
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (2, 'Hiraan', 'Region', NULL);
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (3, 'Balcad', 'District', 'Middle Shabelle');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (4, 'Jowhar', 'District', 'Middle Shabelle');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (5, 'Beledweyn', 'District', 'Hiraan');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (6, 'Dharkenley', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (7, 'Bulo-Kahin', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (8, 'Hilo Kelyo', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (9, 'Xubow', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (10, 'Xiintooy', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (11, 'Dhagax Jebis', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (12, 'Filtare', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (13, 'Howl-Wadaag', 'Village', 'Beledweyn');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (14, 'Balcad', 'Village', 'Balcad');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (15, 'Mareeray', 'Village', 'Balcad');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (16, 'Kulmis', 'Village', 'Balcad');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (17, 'Sabuun', 'Village', 'Jowhar');
INSERT OR IGNORE INTO jurisdiction_hierarchy VALUES (18, 'Bayaxaw', 'Village', 'Jowhar');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Write a SQL script that creates the following summary tables (can be tables or views):
a) District_summary.

i) District Name

ii) Region Name

iii) No. of Individual Beneficiaries (1HH = 6 Individuals)

iv) No. of Individual Beneficiaries / Total District Population

In [10]:
%%sql CREATE TABLE District_summary AS
SELECT
    j.name AS District_Name,
    j.parent_name AS Region_Name,
    SUM(CASE WHEN b.beneficiary_type = 'Individuals' THEN b.beneficiaries ELSE 6 * b.beneficiaries END) AS No_of_Individual_Beneficiaries,
    SUM(CASE WHEN b.beneficiary_type = 'Individuals' THEN b.beneficiaries ELSE 0 END) * 1.0 / v.total_population AS Ratio_Individuals_to_Population
FROM
    jurisdiction_hierarchy j
JOIN
    beneficiary_partner_data b ON j.name = b.village
JOIN
    village_locations v ON j.name = v.village
WHERE
    j.type = 'District'
GROUP BY
    j.name, j.parent_name;

 * sqlite://
Done.

[]

Write a SQL script that creates the following summary tables (can be tables or views):
b) Partner_summary

i) Partner Name

ii) No. of Villages reached by partner

iii) No. of Districts reached by partner

In [11]:
%%sql CREATE TABLE Partner_summary (
    Partner_Name VARCHAR(30),
    No_of_Villages_reached INT,
    No_of_Districts_reached INT
);

 * sqlite://
Done.

[]

In [13]:
%%sql ALTER TABLE Partner_summary
ADD COLUMN Village_ID INTEGER;

 * sqlite://
Done.

[]

In [16]:
%%sql ALTER TABLE Partner_summary
ADD COLUMN District_ID INTEGER;

 * sqlite://
Done.

[]

In [18]:
%%sql INSERT INTO Partner_summary (Partner_Name, No_of_Villages_reached, No_of_Districts_reached)
SELECT
    Partner_Name,
    COUNT(DISTINCT Village_ID) AS No_of_Villages_reached,
    COUNT(DISTINCT District_ID) AS No_of_Districts_reached
FROM
    Partner_summary
GROUP BY
    Partner_Name;

 * sqlite://
0 rows affected.

[]